extends layouts/layout

block prepend title
  | #{ page.title } -

block prepend header
  - page.metadata.which = "canvases";

block css
  style.
    table.canvas {width: 100%; border: 1px solid #000; margin-top: 10px;}
    table.canvas td {padding: 10px; border: 1px solid #000; vertical-align: top; width: 20%}
    table.canvas td.small {width: 20%;}
    table.canvas td > div {min-height: 200px;}
    table.canvas td h4 {font-weight: bold;}
    table.canvas td ul.top {min-height: 220px;}
block content
  .main
    .container
      h2 
        span #{page.metadata.title}
      table.canvas
        tr
          td(rowspan=2)
            div
              h4 PROBLEM
              ul.top
                each p in page.metadata.problem
                  li #{p}
              h4 EXISTING ALTERNATIVES
              ul
                each p in page.metadata.existing_alternatives
                  li #{p}
          td
            div
              h4 SOLUTION
              ul
                each p in page.metadata.solution
                  li #{p}  
          td.small(rowspan=2, colspan=2)
            div 
              h4 UNIQUE VALUE PROPOSITION
              ul.top
                each p in page.metadata.unique_value_proposition
                  li #{p}
              h4 HIGHT LEVEL CONCEPT
              ul
                each p in page.metadata.high_level_concept
                  li #{p}
          td
            div
              h4 UNFAIR ADVANTAGE
              ul
                each p in page.metadata.unfair_advantage
                  li #{p}
          td(rowspan=2)
            div
              h4 CUSTOMER SEGMENTS
              ul.top
                each p in page.metadata.customer_segments
                  li #{p}
              h4 EARLY ADOPTERS
              ul
                each p in page.metadata.early_adopters
                  li #{p}
        tr
          td
            div
              h4 KEY METRICS
              ul
                each p in page.metadata.key_metrics
                  li #{p}
          td
            div
              h4 CHANNELS
              ul
                each p in page.metadata.channels
                  li #{p}
        tr
          td(colspan=3)
            div
              h4 COST STRUCTURE
              ul
                each p in page.metadata.cost_structure
                  li #{p}
          td(colspan=3)
            div
              h4 REVENUE STREAM
              ul
                each p in page.metadata.revenue_stream
                  li #{p}
      if locals.baidu_share
        include layouts/includes/baidu_share.html
      hr
      include layouts/includes/duoshuo
