extends layouts/layout

block prepend title
  | #{page.title} -

block css
  style
    .thumbnail h4 {text-align: center; margin: 20px; font-weight:bold;}
    .thumbnail p {text-align: center; margin-bottom: 10px; color: gray;}

block content
  .main
    .container
      .row
        .span12
          h2
            span #{page.metadata.say}
      
      //- underscore helps us filter and sort our posts
      - var posts = _.chain(contents.canvases).filter(function(item) {
      -   return !(item.metadata.published === false)
      - }).sortBy(function(item) {
      -   // sort them by date
      -   return -item.date
      - }).first(page.metadata.items_per_page).value()
      ul.thumbnails.portfolio
        each post in posts
          li.span3
            .thumbnail
              a(href="#{post.url}", title="#{post.title}", class="#{post.metadata.theme}", target="_blank")
                h4 #{post.metadata.title}
                p #{post.metadata.date}
                ul
                  each p in post.metadata.problem
                    li #{p}