doctype 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=1024")
        meta(name="apple-mobile-web-app-capable", content="yes")
        title #{page.title} - #{locals.title}
        meta(name="author", content="Tyr Chen")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", rel="stylesheet")
        link(rel="stylesheet", href="/assets/css/code/github.css")
        link(href="/assets/components/impress.js/css/impress-demo.css", rel="stylesheet")
    body.impress-not-supported
        .fallback-message
            p Your browser doesn't support the features required by impress.js. so you are presented with a simplified version of this presentation.
            p For the best experience please use the latest Chrome, Safari or Firefox browser. 

        #impress
            - var coordinates = [];
            //- function get(item, attr, i) { if (item[attr] != undefined) {return item[attr]} else { if (i > 0) {return coordinates[i-1][attr];} else {return 0;}}} 
            - function get(item, attr, i) { return item[attr] || 0;}
            each slide, i in page.metadata.slides
                - var x = get(slide, 'x', i)
                - var y = get(slide, 'y', i)
                - var z = get(slide, 'z', i)
                - coordinates.push({x:x, y:y, z:z})
                - var scale = slide.scale || 1
                - var rotate = slide.rotate || 0
                - var classes = slide.classes ? slide.classes.join(' ') : ''
                .step(class="#{classes}", data-x="#{x}", data-y="#{y}", data-z="#{z}", data-rotate="#{rotate}", data-scale="#{scale}")
                    != slide.jade

        .hint
            p 使用空格键或者方向键来控制演示
        //
            a.back(href="/pages/slides.html", title="返回")
            i.icon.icon-arrow-left
            | 演示文稿列表
        script
            if ("ontouchstart" in document.documentElement) { 
                document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
            }
        script(src="/assets/components/impress.js/js/impress.js")
        script
            impress().init();
