extends layouts/layout

block prepend title
  | #{page.title} -

block content
  .main
    .container
      .row
        .span12
          h2
            span #{page.metadata.say}
      .row
        .span10
          //- underscore helps us filter and sort our posts
          - var posts = _.chain(contents.posts).filter(function(item) {
          -   return !(item.published === false)
          - }).sortBy(function(item) {
          -   // sort them by date
          -   return -item.date
          - }).first(page.metadata.items_per_page).value()
          each post in posts
            - var dt = moment(post.date).format('YYYY年M月D日')
            article.row
              .span2
              // .span2
                img.pull-left.avatar(src="/assets/img/tyr.png", alt="Tyr Chen")
                strong 作者:
                p Tyr Chen
                div(style="clear:both;")

                if post.metadata.tags

                  p 标签：
                  ul.tags
                    - for tag in post.metadata.tags
                      li= tag

              .span8
                p= dt
                h1: a(href=post.url)= post.title
                if post.image
                  a(href=post.url): img.post-image(src=post.image, alt=post.title)
                != post.intro
                if post.hasMore
                  a(href=post.url) 继续阅读  &raquo;

                hr
        aside.span2.hide
          .well
