extends layouts/layout

block prepend title
  | #{page.title} -

block css
  style
    article img {display:block; margin: 20px 0;}
    @media only screen and (max-width: 768px) {
      .content {float: none; width: 95%;}
      .content .photo { float: none; width: 100%; margin-bottom: 20px;}
      .content .info { float: none; width: 100%;}
      .aside {float: none; width: 95%;}
      //- .contacts p {float: left;}
      //- .skills {float: left; width: 50%;}
    }
block content
  .main
    .container
      h2: span 会当凌绝顶，每逐清溪水
      .row
        .span8.content
          .row
            .span4.photo
              .thumbnail
                img(src="#{page.metadata.avatar}", alt="关于我")
            .span4.info  
              .well
                h3= page.metadata.name
                p!= page.metadata.description
              
          .page-header
          article
            != page.html


        .span4.aside
          .contacts
            h3 Contacts
            p
              i.icon.icon-envelope 
              |  #{page.metadata.email}
            p: a(href="#{page.metadata.github}", target="_blank")
              i.icon.icon-github 
              |  #{page.metadata.github}
            p: a(href="#{page.metadata.linkedin}", target="_blank")
              i.icon.icon-linkedin 
              |  #{page.metadata.linkedin}
            p: a(href="#{page.metadata.weibo}", target="_blank")
              //i.icon.icon-weibo 
              img(src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_16x16.png", width="12px")
              |  #{page.metadata.weibo}

          //
            a#btnDownload.btn.btn-large.noPrint(href="#{page.metadata.download_url}")
            i.icon.icon-download
            |  下载

          .patents
            h3 Patents and Publications
            ul
              for item in page.metadata.patents
                li: a(href="#{item[1]}") #{item[0]}
          .skills
            h3 Technical Skills
            - var colors = ['#A8DBA8', '#79BD9A', '#3B8686', '#0B486B']
            - var i = 0;
            
            ul.bar
              for item in page.metadata.tech_skills
                - var color = colors[i++ % colors.length]
                li(class="#{item[1]}", style="background: #{color}") #{item[0]}
          
          .skills
            h3 Soft Skills
            ul.bar
              for item in page.metadata.soft_skills
                - var color = colors[i++ % colors.length]
                li(class="#{item[1]}", style="background: #{color}") #{item[0]}
          
          .skills
            h3 Language Skills
            ul.bar
              for item in page.metadata.lang_skills
                - var color = colors[i++ % colors.length]
                li(class="#{item[1]}", style="background: #{color}") #{item[0]}
          
          .skills
            h3 Programming Skills
            ul.bar
              for item in page.metadata.program_skills
                - var color = colors[i++ % colors.length]
                li(class="#{item[1]}", style="background: #{color}") #{item[0]}
          